<% if resource.errors.any? %>
  <div id="error_explanation">
    <p style='color: red;'>入力内容に間違いがあります：</p>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li style='color: red;'><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
