<%# <li class="nav-item menu-items">
  <a class="nav-link" href="#">
    <span class="menu-icon"> %>
      <%# if current_user_group.present? %>
        <%# <i class="mdi mdi-apps" style="color: #B7007C;"></i> %>
      <%# else %>
        <%# <i class="mdi mdi-apps" style="color: #0168B3;"></i> %>
      <%# end %>
    <%# </span>
    <span class="menu-title">カスタム(coming soon!)</span>
  </a>
</li> %>
