<li class="nav-item menu-items">
  <%= link_to homes_faq_path, class: "nav-link" do %>
    <span class="menu-icon">
      <i class="mdi mdi-help-circle-outline" style="color: chartreuse;"></i>
    </span>
    <span class="menu-title">FAQ</span>
  <% end %>
</li>
