<li class="nav-item menu-items d-block d-sm-none">
  <%= link_to destroy_user_session_path, class: "nav-link", method: :delete do %>
    <span class="menu-icon">
      <i class="mdi mdi-logout" style="color:rgb(255, 255, 255);"></i>
    </span>
    <span class="menu-title">ログアウト</span>
  <% end %>
</li>
