<li class="nav-item menu-items">
  <%= link_to step1_orders_path, class: "nav-link" do %>
    <span class="menu-icon">
      <i class="mdi mdi-account-card-details" style="color: #FFF001;"></i>
    </span>
    <span class="menu-title">サークル作成</span>
  <% end %>
</li>
