<li class="nav-item profile">
  <div class="profile-desc">
    <div class="profile-pic">
      <div class="profile-name">
        <h5 class="mb-0 font-weight-normal">
          <% if current_user.present? %>
            <%= current_user.name %>さん
          <% else %>
            ゲストさん
          <% end %>
        </h5>
      </div>
    </div>
  </div>
</li>
