<!-- <li class="nav-item menu-items">
  <%#= link_to questionnaires_path, class: "nav-link" do %>
    <span class="menu-icon">
      <% if current_user_group.present? %>
        <i class="mdi mdi-lead-pencil" style="color: #0168b3;"></i>
      <% else %>
        <i class="mdi mdi-lead-pencil" style="color: #6BE1E7;"></i>
      <% end %>
    </span>
    <span class="menu-title">アンケート</span>
  <%# end %>
</li> -->
