<div class="sidebar-fixed container-scroller" style="background-color: rgb(44, 44, 44);">
  <%= render 'shared/sidebar' %>
  <div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_navbar.html -->
    <%= render 'shared/topbar' %>
    <!-- partial -->
    <div class="main-panel">
      <div class="content-wrapper" style=" min-height: calc(100vh - 131px);">
        <div class="page-header">
          <h3 class="page-title"> 退会ページ </h3>
        </div>
        <div class="row">
          <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body" style="background-color: rgb(255, 255, 255); color: #000;">
                <h3>サービス退会</h3>
                <% if user_signed_in? && Group.my_groups(current_user).blank? && current_user_group.blank? && %>
                  <%= button_to '退会する', user_registration_path, data: { confirm: '本当に退会しますか？' }, method: :delete, class: "btn btn-outline-danger col-md-6 offset-4" %>
                <% else %>
                  サービスから退会するためにはすべてのグループから退会する必要があります。
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
      <%= render 'shared/footer' %>
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
