<div class="row">
  <div class="col-md-12">
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">回答</label>
      <div class="col-md-3 grid-margin stretch-card pricing-card ">
        <% if answer&.attending? %>
          <div class="card border-success border pricing-card-body">
            <div class="text-center pricing-card-head">
              <div class="col-sm-5" style="display: inline-block;">
                <div class="form-check" style="display: inline-block;">
                  <label class="form-check-label text-success" style="font-size: 15px;">
                    <div>出席</div>
                  </label>
                  <%# <label class="form-check-label text-success" style="font-size: 15px;">
                    <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios1" value="option2" style="margin-top: 20px;" value="" checked >出席</label> %>
                </div>
              </div>
            </div>
          </div>
        <% elsif answer&.absent? %>
          <div class="card border-danger border pricing-card-body">
            <div class="text-center pricing-card-head">
              <div class="col-sm-5" style="display: inline-block;">
                <div class="form-check" style="display: inline-block;">
                  <label class="form-check-label text-danger" style="font-size: 15px;">
                    <div>欠席</div>
                  </label>
                  <%# <label class="form-check-label text-success" style="font-size: 15px;">
                    <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios1" value="option2" style="margin-top: 20px;" value="" checked >出席</label> %>
                </div>
              </div>
            </div>
          </div>
        <% else %>
          <div class="card border-info border pricing-card-body">
            <div class="text-center pricing-card-head">
              <div class="col-sm-5" style="display: inline-block;">
                <div class="form-check" style="display: inline-block;">
                  <label class="form-check-label text-info" style="font-size: 15px;">
                    <div>終了</div>
                  <%# <label class="form-check-label text-success" style="font-size: 15px;">
                    <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios1" value="option2" style="margin-top: 20px;" value="" checked >出席</label> %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% if answer&.absent? %>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label" style="color: red;">欠席理由（任意）</label>
        <div class="col-sm-9">
          <div class="form-control" style="color: white;"><%= t("enums.answer.reason.#{answer.reason}") %></div>
        </div>
      </div>
    </div>
  </div>
<% end %>
