<div class="row">
  <div class="col-md-12">
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">回答</label>
      <div class="col-md-3 grid-margin stretch-card pricing-card ">
        <div class="card border-success border pricing-card-body">
          <div class="text-center pricing-card-head">
            <div class="col-sm-5" style="display: inline-block;">
              <div class="form-check" style="display: inline-block;">
                <label class="form-check-label text-success" style="font-size: 15px;">
                  <%= f.radio_button :status, 'attending', class: "form-check-input", id: "membershipRadios1", style: "margin-top: 20px;" %> 出席</label>
                <%# <label class="form-check-label text-success" style="font-size: 15px;">
                  <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios1" value="option2" style="margin-top: 20px;" value="" checked >出席</label> %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 grid-margin stretch-card pricing-card offset-md-1">
        <div class="card border border-danger pricing-card-body" >
          <div class="text-center pricing-card-head" >
            <div class="col-sm-5" style="display: inline-block;">
              <div class="form-check" style="display: inline-block;">
                <label class="form-check-label text-danger" style="font-size: 15px;">
                  <%= f.radio_button :status, 'absent', class: "form-check-input", id: "membershipRadios2", style: "margin-top: 20px;" %> 欠席</label>
                <%# <label class="form-check-label text-danger" style="font-size: 15px;">
                  <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios2" value="option2" style="margin-top: 20px;" value="" >欠席</label> %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% if answer&.status == 'absent' %>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group row">
        <%= f.label :reason, '欠席理由（任意）', class: "col-sm-3 col-form-label", style: 'color: red;' %>
        <div class="col-sm-9">
          <%= f.select :reason, Answer.reasons.keys.map { |k| [t("enums.answer.reason.#{k}"), k] }, {}, { class: "form-control", style: "color: white;" } %>
        </div>
      </div>
    </div>
  </div>
<% end %>
