<div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
  <%= link_to root_url, class: "sidebar-brand brand-logo" do %>
    <%= image_pack_tag("logo.svg", alt: "logo") %>
  <% end %>
</div>
