<div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
  <%= link_to home_url, class: "sidebar-brand brand-logo" do %>
    <%= image_pack_tag("logo_G2.png", alt: "logo") %>
  <% end %>
</div>
