<div class="col-md-8 grid-margin stretch-card">
  <div class="card">
    <div class="card-body" >
      <h4 class="card-title"><%= link_to 'My収支情報', user_transactions_path(user_id: current_user.id) %></h4>
      <%= render 'shared/balance_chart'%>
    </div>
  </div>
</div>
