<div class="card" style="margin-bottom: 20px;">
  <div class="card-body">
    <div class="row">
      <div class="col-12">
        <div class="table-responsive">
          <table id="order-listing" class="table">
            <thead>
              <tr>
                <th>名前</th>
                <th>回答日</th>
                <th>学年</th>
                <th>理由？</th>
              </tr>
            </thead>
            <tbody>
              <% @absent_answers.each do |answer| %>
                <% user = User.find(answer.user_id) %>
                <tr>
                  <td><%= user.name %></td>
                  <td><%= l answer.updated_at, format: :short %></td>
                  <td><%= user.to_readable_grade %></td>
                  <td>バイト</td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <%= paginate @absent_answers %>
        </div>
      </div>
    </div>
  </div>
</div>
