<p>ようこそ！　この度はサークル総合支援サービスCircle-treeをご利用いただき誠にありがとうございます。</p>
<p>本サービスへの仮登録が完了いたしました。下記のリンクよりアカウントの認証を行い本登録を完了させてください。</p>
<p><%= confirmation_url(@resource, confirmation_token: @token) %></p>
<p>本リンクは仮登録より１時間後まで有効になります。</p>
<p>本メールにお心当たりがない場合はどなたがメールアドレスを誤って入力されたものと思われます。お手数ではございますが本メールを破棄したうえで下記のアドレスまでご連絡いただきますようお願いいたします。</p>
<p>circletree.inquiry@gmail.com</p>
<p>運営のアドレス本メールは送信専用アドレスとなっております。</p>
<p>ご返信いただいてもお答えできかねますのでご了承願います。</p>

