<p><%= @resource.name %>さん</p>
<p>Circle-treeにてパスワードの変更を承りました。変更を完了するには下記のURLより操作を行ってください。</p>
<p><%= edit_password_url(@resource, reset_password_token: @token) %></p>
<p>本リンクは仮登録より6時間後まで有効になります。</p>
<p>ご不明な点がございましたら運営のアドレスまでご連絡ください。今後ともサークル総合支援サービスCircle-treeをよろしくお願いいたします。</p>
<p>なお本メールにお心当たりがない場合はどなたがメールアドレスを誤って入力されたものと思われます。お手数ではございますが本メールを破棄したうえで下記のアドレスまでご連絡いただきますようお願いいたします。</p>
<p>circletree.inquiry@gmail.com</p>
<p>本メールは送信専用アドレスとなっております。</p>
<p>ご返信いただいてもお答えできかねますのでご了承願います。</p>
